img.logo{
    width: 50%;
    height: 100%;
}
nav li a{
   font-weight: bold;
}
#containimg{
    height: 44%;
    widht:100%;
    background-image: url("./img/desktop.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}
#titu{
    color:white;
}
#formu{
    margin: auto;
}
#proce, #tipoo, #luga{
    margin-right: 8%;
}
#cardfav1, #cardrec1{
    margin-right: 2%;
}
.card-img-top{
    height: 100%;
    width:50%;
}
#cardd{
    margin-top: 2%;
    margin-left: 7%;
}
h4{
    padding-left: 20%;
    padding-bottom: 2%;
}
#busc{
    background: #ff8700;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: 14px 20px 16px;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    text-align: center;
    margin-top: 1%;
    margin-left: 35%;
}
#containcon{
    margin-top: 2%;
}